StrategoClient/StrategoApp/Connected Services/FriendService/FriendOperationsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="FriendOperationsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IFriendOperationsService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_ISendRoomInvitationService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IPlayerFriendRequestService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2024/FriendsService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2024/FriendsService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2024/FriendsService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/StrategoServices.Data" />
      <xsd:import schemaLocation="http://localhost:2024/FriendsService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/StrategoServices.Data.DTO" />
      <xsd:import schemaLocation="http://localhost:2024/FriendsService?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFriendOperationsService_SendFriendRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:SendFriendRequest" />
  </wsdl:message>
  <wsdl:message name="IFriendOperationsService_SendFriendRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendFriendRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendOperationsService_AcceptFriendRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:AcceptFriendRequest" />
  </wsdl:message>
  <wsdl:message name="IFriendOperationsService_AcceptFriendRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:AcceptFriendRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendOperationsService_DeclineFriendRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:DeclineFriendRequest" />
  </wsdl:message>
  <wsdl:message name="IFriendOperationsService_DeclineFriendRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeclineFriendRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendOperationsService_RemoveFriend_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveFriend" />
  </wsdl:message>
  <wsdl:message name="IFriendOperationsService_RemoveFriend_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveFriendResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendOperationsService_GetFriendOperation_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GetFriendOperation" />
  </wsdl:message>
  <wsdl:message name="IFriendOperationsService_GetFriendOperation_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GetFriendOperationResponse" />
  </wsdl:message>
  <wsdl:message name="ISendRoomInvitationService_SendRoomInvitation_InputMessage">
    <wsdl:part name="parameters" element="tns:SendRoomInvitation" />
  </wsdl:message>
  <wsdl:message name="ISendRoomInvitationService_SendRoomInvitation_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendRoomInvitationResponse" />
  </wsdl:message>
  <wsdl:message name="ISendRoomInvitationService_SendRoomInvitationResponseCall_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendRoomInvitationResponseCall" />
  </wsdl:message>
  <wsdl:message name="ISendRoomInvitationService_SendRoomInvitationResponseCall_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendRoomInvitationResponseCallResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerFriendRequestService_GetPlayerFriendRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerFriendRequest" />
  </wsdl:message>
  <wsdl:message name="IPlayerFriendRequestService_GetPlayerFriendRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerFriendRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerFriendRequestService_ReceiveFriendRequestIds_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveFriendRequestIds" />
  </wsdl:message>
  <wsdl:portType name="IFriendOperationsService">
    <wsdl:operation name="SendFriendRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendOperationsService/SendFriendRequest" message="tns:IFriendOperationsService_SendFriendRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendOperationsService/SendFriendRequestResponse" message="tns:IFriendOperationsService_SendFriendRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AcceptFriendRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendOperationsService/AcceptFriendRequest" message="tns:IFriendOperationsService_AcceptFriendRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendOperationsService/AcceptFriendRequestResponse" message="tns:IFriendOperationsService_AcceptFriendRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeclineFriendRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendOperationsService/DeclineFriendRequest" message="tns:IFriendOperationsService_DeclineFriendRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendOperationsService/DeclineFriendRequestResponse" message="tns:IFriendOperationsService_DeclineFriendRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveFriend">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendOperationsService/RemoveFriend" message="tns:IFriendOperationsService_RemoveFriend_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendOperationsService/RemoveFriendResponse" message="tns:IFriendOperationsService_RemoveFriend_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFriendOperation">
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendOperationsService/GetFriendOperation" message="tns:IFriendOperationsService_GetFriendOperation_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendOperationsService/GetFriendOperationResponse" message="tns:IFriendOperationsService_GetFriendOperation_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ISendRoomInvitationService">
    <wsdl:operation name="SendRoomInvitation">
      <wsdl:input wsaw:Action="http://tempuri.org/ISendRoomInvitationService/SendRoomInvitation" message="tns:ISendRoomInvitationService_SendRoomInvitation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISendRoomInvitationService/SendRoomInvitationResponse" message="tns:ISendRoomInvitationService_SendRoomInvitation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendRoomInvitationResponseCall">
      <wsdl:output wsaw:Action="http://tempuri.org/ISendRoomInvitationService/SendRoomInvitationResponseCall" message="tns:ISendRoomInvitationService_SendRoomInvitationResponseCall_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/ISendRoomInvitationService/SendRoomInvitationResponseCallResponse" message="tns:ISendRoomInvitationService_SendRoomInvitationResponseCall_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IPlayerFriendRequestService">
    <wsdl:operation name="GetPlayerFriendRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerFriendRequestService/GetPlayerFriendRequest" message="tns:IPlayerFriendRequestService_GetPlayerFriendRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerFriendRequestService/GetPlayerFriendRequestResponse" message="tns:IPlayerFriendRequestService_GetPlayerFriendRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveFriendRequestIds">
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerFriendRequestService/ReceiveFriendRequestIds" message="tns:IPlayerFriendRequestService_ReceiveFriendRequestIds_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IFriendOperationsService" type="tns:IFriendOperationsService">
    <wsp:PolicyReference URI="#NetTcpBinding_IFriendOperationsService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="SendFriendRequest">
      <soap12:operation soapAction="http://tempuri.org/IFriendOperationsService/SendFriendRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AcceptFriendRequest">
      <soap12:operation soapAction="http://tempuri.org/IFriendOperationsService/AcceptFriendRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeclineFriendRequest">
      <soap12:operation soapAction="http://tempuri.org/IFriendOperationsService/DeclineFriendRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveFriend">
      <soap12:operation soapAction="http://tempuri.org/IFriendOperationsService/RemoveFriend" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFriendOperation">
      <soap12:operation soapAction="http://tempuri.org/IFriendOperationsService/GetFriendOperation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_ISendRoomInvitationService" type="tns:ISendRoomInvitationService">
    <wsp:PolicyReference URI="#NetTcpBinding_ISendRoomInvitationService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="SendRoomInvitation">
      <soap12:operation soapAction="http://tempuri.org/ISendRoomInvitationService/SendRoomInvitation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendRoomInvitationResponseCall">
      <soap12:operation soapAction="http://tempuri.org/ISendRoomInvitationService/SendRoomInvitationResponseCall" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IPlayerFriendRequestService" type="tns:IPlayerFriendRequestService">
    <wsp:PolicyReference URI="#NetTcpBinding_IPlayerFriendRequestService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetPlayerFriendRequest">
      <soap12:operation soapAction="http://tempuri.org/IPlayerFriendRequestService/GetPlayerFriendRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveFriendRequestIds">
      <soap12:operation soapAction="http://tempuri.org/IPlayerFriendRequestService/ReceiveFriendRequestIds" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FriendOperationsService">
    <wsdl:port name="NetTcpBinding_IFriendOperationsService" binding="tns:NetTcpBinding_IFriendOperationsService">
      <soap12:address location="net.tcp://localhost:1014/FriendsService/FriendsService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:1014/FriendsService/FriendsService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>LAPTOP-4SRV2TJ2\yaela</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_ISendRoomInvitationService" binding="tns:NetTcpBinding_ISendRoomInvitationService">
      <soap12:address location="net.tcp://localhost:1014/FriendsService/RoomInvitationService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:1014/FriendsService/RoomInvitationService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>LAPTOP-4SRV2TJ2\yaela</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IPlayerFriendRequestService" binding="tns:NetTcpBinding_IPlayerFriendRequestService">
      <soap12:address location="net.tcp://localhost:1014/FriendsService/FriendRequestService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:1014/FriendsService/FriendRequestService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>LAPTOP-4SRV2TJ2\yaela</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>