StrategoClient/StrategoApp/Connected Services/LogInService/LogInService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="LogInService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ILogInService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_ISignUpService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IChangePasswordService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2021/LogInService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2021/LogInService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2021/LogInService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/StrategoServices.Data" />
      <xsd:import schemaLocation="http://localhost:2021/LogInService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/StrategoServices.Data.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILogInService_LogIn_InputMessage">
    <wsdl:part name="parameters" element="tns:LogIn" />
  </wsdl:message>
  <wsdl:message name="ILogInService_LogIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogInResponse" />
  </wsdl:message>
  <wsdl:message name="ILogInService_LogInResult_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:LogInResult" />
  </wsdl:message>
  <wsdl:message name="ILogInService_AccountInfo_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:AccountInfo" />
  </wsdl:message>
  <wsdl:message name="ISignUpService_SignUp_InputMessage">
    <wsdl:part name="parameters" element="tns:SignUp" />
  </wsdl:message>
  <wsdl:message name="ISignUpService_SignUp_OutputMessage">
    <wsdl:part name="parameters" element="tns:SignUpResponse" />
  </wsdl:message>
  <wsdl:message name="ISignUpService_SignUpResult_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SignUpResult" />
  </wsdl:message>
  <wsdl:message name="IChangePasswordService_ObtainVerificationCode_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtainVerificationCode" />
  </wsdl:message>
  <wsdl:message name="IChangePasswordService_ObtainVerificationCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtainVerificationCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IChangePasswordService_SendVerificationCode_InputMessage">
    <wsdl:part name="parameters" element="tns:SendVerificationCode" />
  </wsdl:message>
  <wsdl:message name="IChangePasswordService_SendVerificationCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendVerificationCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IChangePasswordService_SendNewPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:SendNewPassword" />
  </wsdl:message>
  <wsdl:message name="IChangePasswordService_SendNewPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendNewPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IChangePasswordService_ChangePasswordResult_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResult" />
  </wsdl:message>
  <wsdl:message name="IChangePasswordService_ChangePasswordResult_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResultResponse" />
  </wsdl:message>
  <wsdl:portType name="ILogInService">
    <wsdl:operation name="LogIn">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogInService/LogIn" message="tns:ILogInService_LogIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogInService/LogInResponse" message="tns:ILogInService_LogIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogInResult">
      <wsdl:output wsaw:Action="http://tempuri.org/ILogInService/LogInResult" message="tns:ILogInService_LogInResult_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="AccountInfo">
      <wsdl:output wsaw:Action="http://tempuri.org/ILogInService/AccountInfo" message="tns:ILogInService_AccountInfo_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ISignUpService">
    <wsdl:operation name="SignUp">
      <wsdl:input wsaw:Action="http://tempuri.org/ISignUpService/SignUp" message="tns:ISignUpService_SignUp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISignUpService/SignUpResponse" message="tns:ISignUpService_SignUp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SignUpResult">
      <wsdl:output wsaw:Action="http://tempuri.org/ISignUpService/SignUpResult" message="tns:ISignUpService_SignUpResult_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IChangePasswordService">
    <wsdl:operation name="ObtainVerificationCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IChangePasswordService/ObtainVerificationCode" message="tns:IChangePasswordService_ObtainVerificationCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChangePasswordService/ObtainVerificationCodeResponse" message="tns:IChangePasswordService_ObtainVerificationCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendVerificationCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IChangePasswordService/SendVerificationCode" message="tns:IChangePasswordService_SendVerificationCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChangePasswordService/SendVerificationCodeResponse" message="tns:IChangePasswordService_SendVerificationCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendNewPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IChangePasswordService/SendNewPassword" message="tns:IChangePasswordService_SendNewPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChangePasswordService/SendNewPasswordResponse" message="tns:IChangePasswordService_SendNewPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePasswordResult">
      <wsdl:output wsaw:Action="http://tempuri.org/IChangePasswordService/ChangePasswordResult" message="tns:IChangePasswordService_ChangePasswordResult_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IChangePasswordService/ChangePasswordResultResponse" message="tns:IChangePasswordService_ChangePasswordResult_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ILogInService" type="tns:ILogInService">
    <wsp:PolicyReference URI="#NetTcpBinding_ILogInService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="LogIn">
      <soap12:operation soapAction="http://tempuri.org/ILogInService/LogIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogInResult">
      <soap12:operation soapAction="http://tempuri.org/ILogInService/LogInResult" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountInfo">
      <soap12:operation soapAction="http://tempuri.org/ILogInService/AccountInfo" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_ISignUpService" type="tns:ISignUpService">
    <wsp:PolicyReference URI="#NetTcpBinding_ISignUpService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="SignUp">
      <soap12:operation soapAction="http://tempuri.org/ISignUpService/SignUp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignUpResult">
      <soap12:operation soapAction="http://tempuri.org/ISignUpService/SignUpResult" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IChangePasswordService" type="tns:IChangePasswordService">
    <wsp:PolicyReference URI="#NetTcpBinding_IChangePasswordService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ObtainVerificationCode">
      <soap12:operation soapAction="http://tempuri.org/IChangePasswordService/ObtainVerificationCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendVerificationCode">
      <soap12:operation soapAction="http://tempuri.org/IChangePasswordService/SendVerificationCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendNewPassword">
      <soap12:operation soapAction="http://tempuri.org/IChangePasswordService/SendNewPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePasswordResult">
      <soap12:operation soapAction="http://tempuri.org/IChangePasswordService/ChangePasswordResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LogInService">
    <wsdl:port name="NetTcpBinding_ILogInService" binding="tns:NetTcpBinding_ILogInService">
      <soap12:address location="net.tcp://localhost:1011/LogInService/LogInService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:1011/LogInService/LogInService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>LAPTOP-1UFSE68T\armas</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_ISignUpService" binding="tns:NetTcpBinding_ISignUpService">
      <soap12:address location="net.tcp://localhost:1011/LogInService/SignUpService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:1011/LogInService/SignUpService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>LAPTOP-1UFSE68T\armas</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IChangePasswordService" binding="tns:NetTcpBinding_IChangePasswordService">
      <soap12:address location="net.tcp://localhost:1011/LogInService/ChangePasswordService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:1011/LogInService/ChangePasswordService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>LAPTOP-1UFSE68T\armas</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>