StrategoClient/StrategoApp/Connected Services/ProfileService/ProfileService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ProfileService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IProfileService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2022/ProfileService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2022/ProfileService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2022/ProfileService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/StrategoServices.Data.DTO" />
      <xsd:import schemaLocation="http://localhost:2022/ProfileService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/StrategoServices.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProfileService_GetPlayerInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerInfo" />
  </wsdl:message>
  <wsdl:message name="IProfileService_GetPlayerInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IProfileService_UpdatePlayerProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlayerProfile" />
  </wsdl:message>
  <wsdl:message name="IProfileService_UpdatePlayerProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlayerProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IProfileService_GetPlayerStatistics_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerStatistics" />
  </wsdl:message>
  <wsdl:message name="IProfileService_GetPlayerStatistics_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerStatisticsResponse" />
  </wsdl:message>
  <wsdl:portType name="IProfileService">
    <wsdl:operation name="GetPlayerInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileService/GetPlayerInfo" message="tns:IProfileService_GetPlayerInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileService/GetPlayerInfoResponse" message="tns:IProfileService_GetPlayerInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePlayerProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileService/UpdatePlayerProfile" message="tns:IProfileService_UpdatePlayerProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileService/UpdatePlayerProfileResponse" message="tns:IProfileService_UpdatePlayerProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayerStatistics">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileService/GetPlayerStatistics" message="tns:IProfileService_GetPlayerStatistics_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileService/GetPlayerStatisticsResponse" message="tns:IProfileService_GetPlayerStatistics_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IProfileService" type="tns:IProfileService">
    <wsp:PolicyReference URI="#NetTcpBinding_IProfileService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetPlayerInfo">
      <soap12:operation soapAction="http://tempuri.org/IProfileService/GetPlayerInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePlayerProfile">
      <soap12:operation soapAction="http://tempuri.org/IProfileService/UpdatePlayerProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlayerStatistics">
      <soap12:operation soapAction="http://tempuri.org/IProfileService/GetPlayerStatistics" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProfileService">
    <wsdl:port name="NetTcpBinding_IProfileService" binding="tns:NetTcpBinding_IProfileService">
      <soap12:address location="net.tcp://localhost:1012/ProfileService/ProfileService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:1012/ProfileService/ProfileService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>LAPTOP-4SRV2TJ2\yaela</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>