StrategoClient/StrategoApp/Connected Services/GameService/GameService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="GameService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IGameService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2025/GameService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2025/GameService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2025/GameService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/StrategoServices.Data" />
      <xsd:import schemaLocation="http://localhost:2025/GameService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/StrategoServices.Data.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGameService_StartGame_InputMessage">
    <wsdl:part name="parameters" element="tns:StartGame" />
  </wsdl:message>
  <wsdl:message name="IGameService_StartGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartGameResponse" />
  </wsdl:message>
  <wsdl:message name="IGameService_SendPosition_InputMessage">
    <wsdl:part name="parameters" element="tns:SendPosition" />
  </wsdl:message>
  <wsdl:message name="IGameService_SendPosition_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendPositionResponse" />
  </wsdl:message>
  <wsdl:message name="IGameService_EndGame_InputMessage">
    <wsdl:part name="parameters" element="tns:EndGame" />
  </wsdl:message>
  <wsdl:message name="IGameService_EndGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:EndGameResponse" />
  </wsdl:message>
  <wsdl:message name="IGameService_AbandonGame_InputMessage">
    <wsdl:part name="parameters" element="tns:AbandonGame" />
  </wsdl:message>
  <wsdl:message name="IGameService_AbandonGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:AbandonGameResponse" />
  </wsdl:message>
  <wsdl:message name="IGameService_OnGameStarted_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnGameStarted" />
  </wsdl:message>
  <wsdl:message name="IGameService_OnReceiveOpponentPosition_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnReceiveOpponentPosition" />
  </wsdl:message>
  <wsdl:message name="IGameService_OnOpponentAbandonedGame_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnOpponentAbandonedGame" />
  </wsdl:message>
  <wsdl:message name="IGameService_OnGameEnded_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnGameEnded" />
  </wsdl:message>
  <wsdl:portType name="IGameService">
    <wsdl:operation name="StartGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/StartGame" message="tns:IGameService_StartGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/StartGameResponse" message="tns:IGameService_StartGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendPosition">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/SendPosition" message="tns:IGameService_SendPosition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/SendPositionResponse" message="tns:IGameService_SendPosition_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EndGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/EndGame" message="tns:IGameService_EndGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/EndGameResponse" message="tns:IGameService_EndGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AbandonGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/AbandonGame" message="tns:IGameService_AbandonGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/AbandonGameResponse" message="tns:IGameService_AbandonGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnGameStarted">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/OnGameStarted" message="tns:IGameService_OnGameStarted_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnReceiveOpponentPosition">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/OnReceiveOpponentPosition" message="tns:IGameService_OnReceiveOpponentPosition_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnOpponentAbandonedGame">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/OnOpponentAbandonedGame" message="tns:IGameService_OnOpponentAbandonedGame_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnGameEnded">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/OnGameEnded" message="tns:IGameService_OnGameEnded_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IGameService" type="tns:IGameService">
    <wsp:PolicyReference URI="#NetTcpBinding_IGameService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="StartGame">
      <soap12:operation soapAction="http://tempuri.org/IGameService/StartGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendPosition">
      <soap12:operation soapAction="http://tempuri.org/IGameService/SendPosition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EndGame">
      <soap12:operation soapAction="http://tempuri.org/IGameService/EndGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AbandonGame">
      <soap12:operation soapAction="http://tempuri.org/IGameService/AbandonGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnGameStarted">
      <soap12:operation soapAction="http://tempuri.org/IGameService/OnGameStarted" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnReceiveOpponentPosition">
      <soap12:operation soapAction="http://tempuri.org/IGameService/OnReceiveOpponentPosition" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnOpponentAbandonedGame">
      <soap12:operation soapAction="http://tempuri.org/IGameService/OnOpponentAbandonedGame" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnGameEnded">
      <soap12:operation soapAction="http://tempuri.org/IGameService/OnGameEnded" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GameService">
    <wsdl:port name="NetTcpBinding_IGameService" binding="tns:NetTcpBinding_IGameService">
      <soap12:address location="net.tcp://localhost:1015/GameService/GameService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:1015/GameService/GameService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>LAPTOP-4SRV2TJ2\yaela</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>