StrategoClient/StrategoApp/Connected Services/GameService/GameService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/StrategoServices.Data.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/StrategoServices.Data.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2025/GameService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/StrategoServices.Data" />
  <xs:complexType name="GameSessionCreatedResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="GameId" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/StrategoServices.Data" minOccurs="0" name="OperationResult" nillable="true" type="q1:OperationResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameSessionCreatedResponse" nillable="true" type="tns:GameSessionCreatedResponse" />
  <xs:complexType name="PositionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="FinalX" type="xs:int" />
      <xs:element minOccurs="0" name="FinalY" type="xs:int" />
      <xs:element minOccurs="0" name="InitialX" type="xs:int" />
      <xs:element minOccurs="0" name="InitialY" type="xs:int" />
      <xs:element minOccurs="0" name="MoveType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PieceId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PositionDTO" nillable="true" type="tns:PositionDTO" />
</xs:schema>