StrategoClient/StrategoApp/Connected Services/GameService/GameService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/StrategoServices.Data.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/StrategoServices.Data.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2025/GameService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/StrategoServices.Data" />
  <xs:complexType name="PositionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="FinalX" type="xs:int" />
      <xs:element minOccurs="0" name="FinalY" type="xs:int" />
      <xs:element minOccurs="0" name="InitialX" type="xs:int" />
      <xs:element minOccurs="0" name="InitialY" type="xs:int" />
      <xs:element minOccurs="0" name="MoveType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PieceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PowerLevel" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PositionDTO" nillable="true" type="tns:PositionDTO" />
  <xs:complexType name="FinalStatsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountId" type="xs:int" />
      <xs:element minOccurs="0" name="GameId" type="xs:int" />
      <xs:element minOccurs="0" name="HasWon" type="xs:boolean" />
      <xs:element minOccurs="0" name="PlayerId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FinalStatsDTO" nillable="true" type="tns:FinalStatsDTO" />
  <xs:complexType name="MovementInstructionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="DefenderId" type="xs:int" />
      <xs:element minOccurs="0" name="FinalX" type="xs:int" />
      <xs:element minOccurs="0" name="FinalY" type="xs:int" />
      <xs:element minOccurs="0" name="InitialX" type="xs:int" />
      <xs:element minOccurs="0" name="InitialY" type="xs:int" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetPiceName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MovementInstructionDTO" nillable="true" type="tns:MovementInstructionDTO" />
  <xs:complexType name="GameStartedResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsStarter" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/StrategoServices.Data" minOccurs="0" name="OperationResult" nillable="true" type="q1:OperationResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameStartedResponse" nillable="true" type="tns:GameStartedResponse" />
  <xs:complexType name="MovementInstructionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="MovementInstructionDTO" nillable="true" type="tns:MovementInstructionDTO" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/StrategoServices.Data" minOccurs="0" name="OperationResult" nillable="true" type="q2:OperationResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MovementInstructionResponse" nillable="true" type="tns:MovementInstructionResponse" />
  <xs:complexType name="GameSessionCreatedResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="GameId" type="xs:int" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/StrategoServices.Data" minOccurs="0" name="OperationResult" nillable="true" type="q3:OperationResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameSessionCreatedResponse" nillable="true" type="tns:GameSessionCreatedResponse" />
</xs:schema>